<div class="desktop-only">
    {% include note/component/group_special_folder.html %}

    <div class="card hide">
        <a id="viewByMonthLink" href="{{_server_home}}/message/calendar" class="list-link">
            <span>按月查看</span>
            <div class="float-right">
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>

        <a id="viewByDayLink" href="{{_server_home}}/message/list_by_day?date={{date}}" class="list-link">
            <span>按天查看</span>
            <div class="float-right">
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>
    </div>
</div>
