
{% import xutils.textutil as textutil %}
{% init parent_path = None %}
{% init show_gallery = True %}

{% include note/component/css/gallery_css.html %}

<div class="card">
    {% include note/component/view_header.html %}
</div>

<div class="card">
    {% include note/component/note_path.html %}
</div>

{% if note_detail_tab %}
<div class="card">
    {% render note_detail_tab %}
</div>
{% end %}

{% include note/page/meta/note_meta.html %}

{% if show_gallery %}
    {% include note/component/editor/gallery_items.html %}
{% end %}
