<div class="card">
    <div class="split-title">
        <span>本月关注笔记</span>
        <div class="float-right">
            <a onclick="xnote.action.plan.addNote(this)">关注笔记</a>
        </div>
    </div>

    <div class="row">
        {% for item in plan_record.notes %}
            <a class="list-item" href="{{_server_home}}{{item.url}}">
                <i class="fa {{item.icon}}"></i>
                <span>{{item.name}}</span>
                {% include note/component/note_list_item_tags.html %}
                <div class="float-right">
                    <button class="btn btn-default" data-id="{{item.id}}" data-name="{{item.name}}"
                        onclick="xnote.action.plan.removeNote(this)">取消关注</button>
                </div>
            </a>
        {% end %}

    </div>
</div>